.ticker-wrapper {
  overflow: hidden;
  position: relative;
  padding: 10px; /* Padding around the ticker */
}

.ticker {
  display: flex;
  white-space: nowrap;
  animation: ticker-scroll 15s linear infinite;
}

.ticker-item {
  padding: 0 2rem;
  font-size: 1rem;
  line-height: 2rem;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
